### Reading Data

In [1]:
# importing pandas library
import pandas as pd

In [2]:
# reading csv file using pandas
data = pd.read_csv("./data/GHG_Econ_Can_Prov_Terr.csv")

In [3]:
# displaying the data
data

,Year,Region,Index,Source,Sector,Sub-sector,Sub-sub-sector,Total,CO2eq,Unit
0,1990,Alberta,0,Provincial Inventory Total,NaN,NaN,NaN,y,173.0523683,Mt
1,1990,Alberta,1,Oil and Gas,NaN,NaN,NaN,y,67.57525298,Mt
2,1990,Alberta,2,Oil and Gas,Upstream Oil and Gas,NaN,NaN,y,63.93934941,Mt
3,1990,Alberta,3,Oil and Gas,Upstream Oil and Gas,Natural Gas Production and Processing,NaN,NaN,29.09710967,Mt
4,1990,Alberta,4,Oil and Gas,Upstream Oil and Gas,Conventional Oil Production,NaN,y,15.97307867,Mt
...,...,...,...,...,...,...,...,...,...,...
16245,2018,Yukon,42,Waste,Wastewater,NaN,NaN,NaN,0.005361202,Mt
16246,2018,Yukon,45,"Light Manufacturing, Construction & Forest Res...",NaN,NaN,NaN,y,0.019400921,Mt
16247,2018,Yukon,46,"Light Manufacturing, Construction & Forest Res...",Light Manufacturing,NaN,NaN,NaN,0.01757176,Mt
16248,2018,Yukon,47,"Light Manufacturing, Construction & Forest Res...",Construction,NaN,NaN,NaN,0.001490394,Mt
16249,2018,Yukon,48,"Light Manufacturing, Construction & Forest Res...",Forest Resources,NaN,NaN,NaN,0.000338766,Mt

In [4]:
# printing columns that matter
data[['Region','CO2eq']]

        Region        CO2eq
0      Alberta  173.0523683
1      Alberta  67.57525298
2      Alberta  63.93934941
3      Alberta  29.09710967
4      Alberta  15.97307867
...        ...          ...
16245    Yukon  0.005361202
16246    Yukon  0.019400921
16247    Yukon   0.01757176
16248    Yukon  0.001490394
16249    Yukon  0.000338766

[16250 rows x 2 columns]