# Data Mining: Predictive Analysis 

### Brief idea, we are going after
- First step to any data science project is to collect data 
- Second step is to read this data into valid format as per our tool
- Now, it is time to choose a model 
- Generate this model with help of libraries like sklearn, tensorflow, and keras
- Test the model 
- Predict the result 

### Extension of the idea
- Map the results with temperature and predict how CO2 emissions can affect the temperature

In [2]:
# importing pandas library
import pandas as pd

In [3]:
# reading csv file using pandas
data = pd.read_csv("./data/GHG_Econ_Can_Prov_Terr.csv")

In [4]:
# displaying the data
data

,Year,Region,Index,Source,Sector,Sub-sector,Sub-sub-sector,Total,CO2eq,Unit
0,1990,Alberta,0,Provincial Inventory Total,NaN,NaN,NaN,y,173.0523683,Mt
1,1990,Alberta,1,Oil and Gas,NaN,NaN,NaN,y,67.57525298,Mt
2,1990,Alberta,2,Oil and Gas,Upstream Oil and Gas,NaN,NaN,y,63.93934941,Mt
3,1990,Alberta,3,Oil and Gas,Upstream Oil and Gas,Natural Gas Production and Processing,NaN,NaN,29.09710967,Mt
4,1990,Alberta,4,Oil and Gas,Upstream Oil and Gas,Conventional Oil Production,NaN,y,15.97307867,Mt
...,...,...,...,...,...,...,...,...,...,...
16245,2018,Yukon,42,Waste,Wastewater,NaN,NaN,NaN,0.005361202,Mt
16246,2018,Yukon,45,"Light Manufacturing, Construction & Forest Res...",NaN,NaN,NaN,y,0.019400921,Mt
16247,2018,Yukon,46,"Light Manufacturing, Construction & Forest Res...",Light Manufacturing,NaN,NaN,NaN,0.01757176,Mt
16248,2018,Yukon,47,"Light Manufacturing, Construction & Forest Res...",Construction,NaN,NaN,NaN,0.001490394,Mt
16249,2018,Yukon,48,"Light Manufacturing, Construction & Forest Res...",Forest Resources,NaN,NaN,NaN,0.000338766,Mt

In [5]:
# printing columns that matter
data[['Region','CO2eq', 'Year']]

        Region        CO2eq  Year
0      Alberta  173.0523683  1990
1      Alberta  67.57525298  1990
2      Alberta  63.93934941  1990
3      Alberta  29.09710967  1990
4      Alberta  15.97307867  1990
...        ...          ...   ...
16245    Yukon  0.005361202  2018
16246    Yukon  0.019400921  2018
16247    Yukon   0.01757176  2018
16248    Yukon  0.001490394  2018
16249    Yukon  0.000338766  2018

[16250 rows x 3 columns]

### Filtering the data 
essentially, the dataset is pretty huge and we require only few rows
the data is also, pretty huge for our project
also, data is divided into sub-cateogories and hence, we need to merge them

In [11]:
# data about only ontario 
data_ontario = data[data['Region'] == "Ontario"]

# getting only required data
data_ontario = data_ontario[['Year', 'CO2eq']]

# grouping data by year (i.e. removing all the unnecessary sub parts in the data)
data_ontario = data_ontario.groupby(['Year']).sum()
data_ontario

                                                  CO2eq
Year
1990  179.336504810.309381963.2892194720.2665457340....
1991  178.46831999.6864000723.3730861930.1883616180....
1992  181.557264811.202800924.3431685360.2790179250....
1993  171.792734911.598385174.5411991710.2788889480....
1994  173.700982411.136886154.6512546690.3337722220....
1995  178.609001711.64550285.2885996480.3735222490.0...
1996  187.340295813.156968445.4578086860.1952083870....
1997  192.083622812.993803235.4774297640.3304084260....
1998  192.891345813.214131115.3060561550.3135758430....
1999  197.825704713.004965085.4392523230.3772744990....
2000  207.549606412.304154274.7299213020.4289618370....
2001  198.809977710.982195473.4596216890.3230925470....
2002  203.621186912.007265424.0275483810.402984240.0...
2003  205.401588111.406749863.4147046980.3520752780....
2004  202.877691411.956552083.0849454620.4398699250....
2005  203.180732311.788058013.937566790.3507217540.0...
2006  194.183735511.515954073.5225260390.3160965910....
2007  198.210361711.253815193.0298439710.2901621730....
2008  189.570127510.427573692.4959253780.3227313480....
2009  164.52206179.4221405112.1590895050.3882842490....
2010  172.32916789.3494928991.6775299790.3334762880....
2011  171.28919599.0478418881.6526097680.2719006010....
2012  167.593961710.046964421.5350057040.2620873030....
2013  167.247485410.288781881.7527061980.227472720.0...
2014  164.714744910.774054842.2752713130.1876580760....
2015  162.561694310.169221492.2733720320.1912904720....
2016  159.60113559.6617804241.9216756050.1845040370....
2017  155.3699027.7314359951.6235539660.1408139130.0...
2018  164.97898188.1090485861.8865769080.1727045150....